# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.userprefs

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

# Other
*.cache
*.dll
*.exe
*.pdb
*.log
appsettings.Development.json
.env
.env.*
!.env.example

# Exclude reference project (only push Lab Software)
AnantnagRevenueUI/
